body, html {
    height: 100%;
}

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Menlo, -apple-system, BlinkMacSystemFont,"helvetica neue", helvetica, arial, sans-serif;
    line-height:125%;

    color: #bababa;
    font-size: 4.2vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.token {
    opacity: 0;
    transition:         opacity 500ms, -webkit-filter 500ms linear;
    -webkit-transition: opacity 500ms, -webkit-filter 500ms linear;
    -webkit-filter: blur(10px);
}

.show {
    opacity: 1;
    -webkit-filter: blur(0px);
}

.stage {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align:left;
}

.result{
    width: 100%;
    padding: 5vw;
}

.result span {
    display: inline-block;
}

.space {
    margin-right: 1.25vw;
}

.class-dot {
    color: black;
}

.class-QUOTE {
    color: #dd9f98;
}
.class-comma {
    color: #d5d510;
}

.class-NN,
.class-NNP,
.class-NNS {
    color: white
}

.class-VB,
.class-VBP,
.class-VBD,
.class-VBN,
.class-VBZ,
.class-VBG,
    /*.class-VBG,*/
.class-MD {
    /*color: #425765;*/
    /*border-bottom:1px solid white;*/
    color: #7fafd8;
    /*text-decoration: underline;*/
    /*text-decoration-color: #3b5163;*/

}

.class-CC {
    color: #c88852;
}

.class-IN {
    color: #6f955d;
}

.class-NNP {
    color:red;
}

.class-PRP {
    color: #b3e889;
}

.class-CD {
    color: #f2fc99;
}

.class-JJ {
    /*color: #e8bf6a;*/
}

.class-WDT {
}

.class-DT {
    color:#ccc;
}

.class-JJ,

.class-RB {
    font-style: italic;
    color: #ccc;
}

.dictionary {
    position: fixed;
    top: 0;
    right: 0;
    padding:4vw;

    opacity: 0;
    transition:         opacity 500ms;
    -webkit-transition: opacity 500ms;
}

.dictionary-show {
    opacity: 1;
}

.dictionary-token {
    font-size: 1.5vw;
    float: right;
    line-height: 100%;
    padding: 0.5vw;
    border-radius: 0.5vw;
    background-color: #111111;
    color: #dddddd;
    margin: 0.5vw;
}